<!DOCTYPE html>
<html lang="en-US">
    {% extends 'base.html' %}
    <head>
        <meta charset="UTF-8">
        {% block title %}Djashboard-- Dashboard: Widgets{% endblock %}
    </head>
    <body>
        {% block content %}
            <br/>
            {% if zipcode %}
                zipcode
            {% endif %}
            {% if overall_dashboard_health %}
                {% if overall_dashboard_health == "Error..." %}
                    There was an error, please try again...
                {% else %}
                    {% for widget in widgets %}
                        <div class="jumbotron-fluid {{ widget.category_color }}">
                            <h1 class="display-4">{{ widget.category_name }}</h1>
                            <p class="lead">{{ widget.category_subtext }}</p>
                            <hr class="my-4">
                            <p class="lead"></p>
                            <p>{{ widget.category_description }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </body>
</html>