<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    {% block title %}Django Dashboard -- Dashboard1: Air Quality{% endblock %}
</head>
<body>
{% block content %}
<br/>
{% if zipcode %}
zipcode
{% endif %}
{% if api_status %}
{% if api_status == "Error..." %}
There was an error, please try again...
{% else %}
<div class="jumbotron-fluid {{ category_color }}">
    <h1 class="display-4">{{ category_name }}</h1>
    <p class="lead">{{ category_subtext }}</p>
    <hr class="my-4">
    <p class="lead"></p>
    <p>{{ category_description }}</p>
    </hr>
</div>
{% endif %}
{% endif %}
{% endblock %}


</body>
</html>